@*model IEnumerable<PojisteniApp.Models.InsuracePersonData>*@
@model PaginatedList<PojisteniApp.Models.InsuracePersonData>

@{
    ViewData["Title"] = "Index";
}

<h1>Pojištěnci</h1>
<br />
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <a asp-action="Create" class="buttonPojistenci">Nový Pojištěnec</a> |
           <b class="searchtext">Hledej podle jména:</b> <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Hledej" class="buttonPojistenci" /> |
            <a asp-action="Index">Zpátky k původnímu seznamu</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Jméno</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AdressSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Adresa</a>
            </th>
            <th>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Enrollment Date</a>*@
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                            <a asp-action="Details" asp-route-id="@item.PersonId">
                        @Html.DisplayFor(modelItem => item.FirstName)

                        @Html.DisplayFor(modelItem => item.LastName)</a>
                    </td>

                    <td>
                    @Html.DisplayFor(modelItem => item.Address)
                    </td>

                    <td>
                        <a class="btnEditTable" asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |

                         <a class="btnDeleteTable" asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Předchozí
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Další
</a>

